.section_container {
  margin: 1.5rem 0;
}

.section_container h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.section_container > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 480px) {
  .section_container > div {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0.875rem;
    row-gap: 1.5rem;
    /* column-gap: 2%; */
  }
}
